# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.bfw_WebApp_PersonenDB_2024-03-14.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
